*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --body-color: white;
  --nav-footer-color: #393939;
  --body-font-color: black;
  --nav-footer-font-color: white;
  --font-size: 1rem;
  --font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  background-color: var(--body-color);
  font-size: var(--font-size);
  color: var(--body-font-color);
  font-family: var(--font-family);
}

/* A COPIER / COLLER - début nav */

.title-for-mobile {
  display: none;
  position: fixed;
  top: 0px;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  position: fixed;
  height: 70px;
  color: var(--font-color);
  background-color: var(--nav-footer-color);
}

.nav-menu {
  display: flex;
  width: 33vh;
}

.nav-menu a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-menu a:hover {
  color: lightgray;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-menu ul li {
  font-size: 1.5rem;
  padding: 15px;
}

.nav-menu ul li a:hover::after {
  width: 100%;
  color: black;
}

.nav-menu ul li a::after {
  content: "";
  display: block;
  margin: 0 auto;
  background-color: white;
  width: 0%;
  height: 2px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.nav-menu ul li:first-child {
  display: none;
}

.nav-purple-logo {
  display: flex;
  justify-content: center;
  width: 33vh;
}

.nav-purple-sneakers-logo {
  width: 70px;
  height: 70px;
}

.nav-basket-search-logos {
  display: flex;
  justify-content: flex-end;
  width: 33vh;
}

.nav-basket-search-logos img {
  width: 50px;
  height: 50px;
}

.nav-menu-hamburger {
  display: none;
}

.header-burger {
  display: none;
}

.logoburger {
  display: none;
}

/* FIN NAV */

section {
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: center;
  margin: auto;
}

.pompe-home {
  width: 50%;
}

section h1 {
  padding-bottom: 3%;
}

section h2 {
  padding-bottom: 2%;
}

.description {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  color: var(--body-font-color);
  padding: 10px;
}

/* A COPIER / COLLER Footer */

footer {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: var(--nav-footer-color);
  color: var(--font-color);
  height: 70px;
  justify-content: start;
  bottom: 0px;
  align-items: center;
}

footer img {
  width: 40px;
  margin: 10px;
}
/* FIN FOOTER */

@media screen and (max-width: 500px) {
  
  
  /* A COPIER / COLLER POUR MOBILE */

  
  .title-for-mobile {
    display: block;
  }

  .nav-menu-hamburger {
    display: block;
    position: fixed;
    cursor: pointer;
    top: 0px;
    width: 40px;
    height: 40px;
  }

  .nav-bar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 25%;
    top: 40px;
    margin: 10px;
  }

  .nav-bar.active {
    display: flex;
    background-color: white;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-footer-color);
    border-radius: 0px;
  }

  .nav-menu ul li:first-child {
    display: block;
  }

  .nav-basket-search-logos {
    display: none;
  }

  .nav-purple-logo {
    display: none;
  }


  /* FIN COPIER / COLLER POUR MOBILE */

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pompe-home {
    width: 100%;
  }

  .description {
    width: 100%;
  }
}
